#cloud-config
users:
  - name: {{ build_user | default('ubuntu') }}
    gecos: Ubuntu User
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    ssh_authorized_keys:
      - {{ build_ssh_pubkey }}

package_update: true
packages:
  - qemu-guest-agent
  - cloud-init
  - netplan.io

write_files:
  - path: /etc/netplan/01-dhcp.yaml
    content: |
      network:
        version: 2
        renderer: networkd
        ethernets:
          eth0:
            match:
              name: e*
            dhcp4: true

runcmd:
  - [ systemctl, enable, --now, qemu-guest-agent ]
  - [ /sbin/dhclient, -v, eth0 ]

final_message: "The seed has been applied"
