# Ignore local Terraform state and secrets
.terraform/
terraform.tfstate
terraform.tfstate.backup
tfplan
terraform.tfvars
.override.tfvars
.override.tfvars.json

# Local image artifacts
files/isos/*.iso
files/isos/*.img
